/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: .1em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.add-button {
 padding: .5rem 1.5rem;
 font-size: 1rem;
 margin-bottom: 2rem;
}

.add-button:hover {
  color: white;
  background-color: #42545C;
}

button.delete {
  position: absolute;
  left: 210px;
  top: 5px;
  background-color: white;
  color:  #525252;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 10px 3px 10px;
}

button.delete:hover {
  background-color: #525252;
  color: white;
}
:host ::ng-deep .custom-treetable {
  border: 2px solid #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.my-treetable-styles {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(255, 255, 0, 0.1);
}
:host ::ng-deep .p-treetable .p-treetable-tbody > tr {
  height: 10px; /* Set your desired row height */
}
.p-treetable .p-treetable-tbody > tr > td {
  border-bottom: none;
}

/* Optional: To ensure there's no visible border on the last row */
.p-treetable .p-treetable-tbody > tr:last-child > td {
  border-bottom: none;
}
.no-border-treetable .p-treetable-tbody > tr > td {
  border-bottom: none;
  border-color: red;
  background-color: aqua;
}

/* Optional: Remove any outline on focus */
.no-border-treetable .p-treetable-tbody > tr > td:focus {
  outline: none;
  box-shadow: none;
}
p-tree-root
{
  border-bottom: none;
}
.AddAccountButton {
  background-color: #1aac80;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 10%;
  min-width: 100px;
  margin: .5rem auto;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;

  display: inline-block;
  width:280px; /* Fixed width for all labels */
}
