/*@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

 @import '@syncfusion/ej2-grids/styles/material.css';
*/
/*@import "primeng/resources/themes/lara-light-blue/theme.css";;
@import "primeng/resources/primeng.min.css";*/
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
.report-row {
  display:inline-flexbox;
  gap: 15px; /* Adjust the value for your desired space */
}
/*:host ::ng-deep .p-rowgroup-footer td {
    font-weight: 700;
}

:host ::ng-deep .p-footer td {
    font-weight: 700;
}
:host ::ng-deep .p-rowgroup-header {
    span {
        font-weight: 700;
    }

    .p-row-toggler {
        vertical-align: middle;
        margin-right: .25rem;
    }
}
*/
