.MainButton {
  background-color: rgb(24,93,150);
  border-radius: 2px;
  padding: 1rem;
  font-size: 0.8rem;
  text-decoration: none;
  display:flex;
  color:rgb(255, 255, 255);
  text-align: center;
  min-width: 20px;
  margin: .2rem auto;
  box-sizing: border-box;
   text-decoration:double;
  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;

  display: inline-block;
  width:25%; /* Fixed width for all labels */
}/*
nav a {
  padding: 2rem;
  text-decoration:double;
  margin-top: 10px;
  display: inlineblock;
  background-color: #941f1f;
  color: rgb(255, 255, 255);;
  border-radius: 4px;
  margin-right: .8em;
}*/
/*nav a {
  padding: 2rem;
  text-decoration: none;
  margin-top: 10px;
  display: inlineblock;
  background-color: #941f1f;
  color: rgb(255, 255, 255);;
  border-radius: 4px;
  margin-right: .8em;
}*/

nav a:hover {
  color: rgb(255, 255, 255);
  background-color: #42545C;
}
nav a:active {
  background-color: white;
}
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes li {
  display: flex;
}

.heroes button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
}

.heroes button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.heroes button:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes button.selected {
  background-color: black;
  color: white;
}

.heroes button.selected:hover {
  background-color: #505050;
  color: white;
}

.heroes button.selected:active {
  background-color: black;
  color: white;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.heroes .name {
  align-self: center;
}
h1 {
  margin-bottom: 0;
}


