/* Transaction's private CSS styles */

h2 {
  text-align: center;
}
.form-control-group {
  width: 100%; /* Or set a specific width for the container */
   /*display: flex; Optional: For a modern layout */
  flex-direction: column; /* Optional: Stacks the elements */
}
.centered-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Target both the input and select elements */
.form-control-group input,
.form-control-group select {
  width: 100%; /* Makes them take up the full width of their container */
  box-sizing: border-box; /* Ensures consistent width calculation including padding and borders */
}
.heroes-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: #3f525c;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: black;
}
.TransactionButton {
  background-color: rgb(24,93,150);
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.0rem;
  text-decoration: none;
  color: #fff;
  text-align: center;
  min-width: 175px;
  margin: .5rem auto;
  /*box-sizing: border-box;

   flexbox
  order: 0;
  flex: 0 1 auto;
  align-self: auto;*/

  display: block;

 /* transform: translate(20%, 0);*/
  width:200px; /* Fixed width for all labels */

}
.btnTransction {
  text-align:center;
  background-color: rgb(24,93,150);
  color:white;
  width: 58px;
  border-radius: 0.1px;
  padding: 0.4rem;
  font-size: 0.80rem;
 text-decoration: none;
 /* margin: .5rem auto;*/
 /* box-sizing: border-box;*/
}
.custom-label {
  display: inline-block;
  width:80px; /* Fixed width for all labels */
  flex-shrink: 0; /* Prevents labels from shrinking */
  text-align: left; /* Aligns the label text to the right */
  padding-right: 10px; /* Adds space between the label and input */
}
::ng-deep  .custom-height-table .p-datatable-tbody > tr > td {
    height: 25px !important; /* or min-height, padding, etc. */
    padding: 0.1rem 0.5rem !important;
    min-height: 0px !important;
    line-height: 1 !important;
    vertical-align: middle !important;; /* Optional: centers content vertically */
}

/* Target header rows if needed */
::ng-deep .custom-height-table .p-datatable-thead > tr > th {
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}
